/* Reset Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Navigation */

nav {
    width: 100%;
    text-align: right;

}

nav ul {
    display: inline-flex;
    padding: 40px;
}

nav ul li {
    margin-right: 60px;
    list-style-type: none;
    
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0px;
    color: #141c3a;


}

nav ul li a:hover {
    color: #354a96;
    

}

nav ul li#contact-btn a{
    border: 1px solid #141c3a;
    border-radius: 36px;
    padding: 15px 20px;
    
}

nav ul li#contact-btn a:hover {
    border: 1px solid #141c3a;
    background-color: #141c3a;
    color: #fff;
    
}

/* Styling Header */

header {
    text-align: center;
}

header#about h1{
    margin-top: 100px;
    padding-bottom: 30px;
    font-size: 50px;
}

header#about p{
    padding-bottom: 30px;
    font-size: 23px;
    font-weight: 200;
}

header#about #avatar img {
    width: 250px;
    margin-top: 30px;
    margin-bottom: 50px;
}

header#about #responsive-img img {
    width: 1000px;
}

/* Styling Main Content */

main {
    text-align: center;
    margin-top: -10px;
}

main .intro {
    background-color: #141c3a;
    color: #fff;
}

main .intro h2 {
    padding: 130px 0 40px 0;
    font-size: 30px;
}

main .intro p {
    padding: 0px 300px 400px 300px;
    font-size: 22px;
    font-weight: 200;
}

main #skills {
    background-color: #fff;
    margin: -300px auto -200px auto;
    width: 1000px;
    padding: 50px 0;
    position: relative;
    z-index: 10;
    
}

main #skills h2 {
    font-size: 30px;
    padding: 30px 0;
}

main #skills p {
    font-size: 22px;
    padding: 0 0 30px 0;
}

#skills-base {
    padding: 200px 0;
    background-color: #141c3a;
}

/* Styling Work Section */

section#work {
    position: relative;
    padding: 150px;
}

section#work h2 {
    font-size: 30px;
    padding-bottom: 25px;
}

section#work p {
    font-size: 22px;
    padding-bottom: 60px;
    font-weight: 200;
}

section#work .inline-work {
    display: inline-flex;
}

section#work .inline-work img {
    width: 300px;
    margin: 0 10px 150px 0;

}

/* Styling collaborate CTA */

section #collaborate {
    margin-bottom: 200px;
}

section #collaborate ul li {
    list-style-type: none;
}

section #collaborate ul li#contact-btn a{
    border: 1px solid #141c3a;
    border-radius: 36px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
}

section #collaborate ul li#contact-btn a:hover {
    border: 1px solid #141c3a;
    background-color: #141c3a;
    color: #fff;
}

/* Styling Start A Project CTA */

section #getInTouch {
    background-color: #7510f7;
    padding: 50px 0;
    color: #fff;
    border-radius: 20px;
    margin-bottom: -280px;
    z-index: 10;

}

section #getInTouch ul li {
    list-style-type: none;
}

section #getInTouch ul li#contact-btn a {
    border: 1px solid #ffffff;
    border-radius: 36px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

section #getInTouch ul li#contact-btn a:hover {
    border: 1px solid #141c3a;
    background-color: #141c3a;
    color: #fff;
}



/* Styling Footer */

footer {
    background-color: #141c3a;
    padding: 500px 0 20px 0;
    color: #fff;
}


/* Styling Contact Page */

main .intro-contact {
    background-color: #141c3a;
    color: #fff;
    padding-bottom: 300px;
}

main .intro-contact h2 {
    padding: 130px 0 40px 0;
    font-size: 30px;
}

main .intro-contact p {
    padding: 0px 300px 50px 300px;
    font-size: 22px;
    font-weight: 200;
}

/* Styling Contact Form */

section.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -400px 0 0 0;

}

.contactForm {
    width: 60%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    text-align: left;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: #141c3a;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.contactForm .inputBox input[type="submit"]:hover {
    background: #7510f7;
}



@media (max-width: 991px) {
    section.contact {
        padding: 50px;
    }
    .contactForm {
        width: 100%;
    }
}




